.address

  &__group
    display: flex
    flex-flow: row wrap
    justify-content: space-between

  &__street
    flex: 0.9 0 200px

  &__building
    flex: 0.05 0 100px

  &__apartment
    flex: 0.3 0 100px

  &__entrance
    flex: 0.3 0 100px

  &__floor
    flex: 0.3 0 100px

  &__btn-submit
    width: 100%
    &:hover
      background-color: lightgreen

.confirm

  &__btn-submit
    width: 100%
    &:hover
      background-color: lightgreen