.order

  &__heading
    font-size: 26px

  &__msg
    position: relative
    padding: .75rem 1.25rem
    border: 1px solid transparent
    border-radius: .25rem

  &__msg_warning
    color: #856404
    background-color: #fff3cd
    border-color: #ffeeba

  &__msg_danger
    color: #721c24
    background-color: #f8d7da
    border-color: #f5c6cb

.address

  &__btn-submit
    width: 100%
    &:hover
      background-color: lightgreen

.confirm

  &__btn-submit
    width: 100%
    &:hover
      background-color: lightgreen

.info

  &__comment
    textarea
      resize: none

  &__btn-submit
    width: 100%
    &:hover
      background-color: lightgreen

  &__btn-back
    width: 100%