.container
  max-width: 1200px
  margin: 0 auto
  padding: 20px

.header
  position: relative
  z-index: 2
  box-shadow: 0 0 4px #d9d9d9

.main
  display: flex
  flex-direction: row

.panel
  height: calc(100vh - 73px)
  width: 30%
  padding: 10px 20px
  background-color: white
  box-shadow: 0 1px 21px 0 rgba(34, 31, 31, 0.13)

.inner-container
  height: calc(100vh - 73px)
  width: calc(70% - 20px)
  margin: 10px
  background-color: antiquewhite
