.container
  max-width: 1200px
  margin: 0 auto
  padding: 20px

.header
  height: 52px
  background-color: #F3F5F7
  border-radius: 3px
  color: #666
  border-bottom: 1px solid #d9d9d9
  box-shadow: 0 0 4px #d9d9d9
  position: relative
  z-index: 2
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 0 20px

.main
  display: flex
  flex-flow: row nowrap
  overflow: hidden

  &__panel
    height: calc(100vh - 73px)
    flex: 1 1 30%
    padding: 10px 20px
    background-color: white
    box-shadow: 0 1px 21px 0 rgba(34, 31, 31, 0.13)
    overflow-y: auto

  &__inner
    flex: 1 1 70%
    margin: 10px
    display: flex
    flex-direction: column

  &__map-wrapper
    min-height: 200px
    background-color: antiquewhite
    flex: 1
    box-shadow: 0 0 4px #d9d9d9


@media (max-width: 1023px)
  .main

    &__panel
      height: auto
      min-height: calc(100vh - 73px)

@media (max-width: 767px)
  .main
    position: relative
    min-height: calc(100vh - 53px)

    &__panel
      height: auto
      min-height: calc(100vh - 73px)
      flex: none
      padding: 10px
      transition: all 500ms linear

      &_open
        background-color: lightgreen
        //position: absolute
        //top: 0
        //left: 0
        //right: 50%
        flex: 1 1 50%
        transition: all 500ms linear

    &__toggle
      float: right